



.wrapper {

    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(228, 228, 228);
  }
  .one {
    border-radius: 50px;
    background: #FF416C;
  	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  	background: linear-gradient(to right, #FF4B2B, #FF416C);
  }
  .two {
    top: 120px;
    padding-bottom: 15px;
    border-radius: 8px;
    width: 32%;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
  }
  .three {

    border-radius: 20px;
  	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  	background: linear-gradient(to right, #FF4B2B, #FF416C);

  }











