<!-- Team -->
<div class="container">
<section id="users" class="pb-5">
  <div class="container">
      <h5 class="section-title h1">Followers</h5>
      <div class="row">
          <!-- Team member -->
          <div *ngFor="let u of followers" class="col-xs-12 col-sm-6 col-md-3">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <h4 class="card-title">@{{ u.userName }}</h4>
                                  <p><img class="img-fluid" *ngIf="u" [src]="u?.profileImg" alt="User Image" onerror="this.src='../../assets/logo.png'"/></p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center">

                                  <h4 class="card-title">@{{ u.userName }}</h4>
                                  <p><img class="img-fluid" *ngIf="u" [src]="u?.profileImg" alt="User Image" onerror="this.src='../../assets/logo.png'"/></p>
                                  <h6 class="card-text">
                                    {{ u?.firstName + " " + u?.lastName }}
                                  </h6>
                                  <h6 class="card-text">
                                    {{ u?.email }}
                                  </h6>

                                  <p>{{ u?.bio }}</p>

                                  <app-buttons
                                    [users]="following"
                                    [selectedUser]="u"
                                    [currentUser]="currentUser"
                                    [searchForm]="searchForm"
                                    #buttonsComponent
                                  ></app-buttons>


                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
      </div>
  </div>
</section>
</div>
