<hr class="my-4">

<form (ngSubmit)= "updateUser()">
    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-6">
            <div class="form-group focused">
                <label class="form-control-label" for="input-userName">Username</label>
                
                <input type="text" id="input-userName" class="form-control form-control-alternative" placeholder="Username" [value]="user.userName" [(ngModel)]="user.userName" name="userName">
            </div>
            </div>
            <div class="col-lg-6">
            <div class="form-group">
                <label class="form-control-label" for="input-email">Email address</label>
                <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Email" [value]="user.email" [(ngModel)]="user.email" name="email">
            </div>
            </div>
        </div>
        <div class="col-12 text-right">
            <button type="submit" class="btn btn-sm btn-primary">Update Username and Email</button>
        </div>
    </div>
</form>
      
