<hr class="my-4">
      
<form (ngSubmit)= "updatePassword()">
    <div class="pl-lg-4">
        <div>
            <div class="row">
            <div class="col-lg-4">
                <div class="form-group focused">
                <label class="form-control-label" for="input-new-password">New Password</label>
                
                <input type="password" id="input-new-password" class="form-control form-control-alternative" placeholder="New Password" [(ngModel)]="newPassword1" name="newPassword1">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group focused">
                <label class="form-control-label" for="input-renew-password">Confirm New Password</label>
                
                <input type="password" id="input-renew-password" class="form-control form-control-alternative" placeholder="Confirm New Password" [(ngModel)]="newPassword2" name="newPassword2">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                <label class="form-control-label" for="input-old-password">Old Password</label>
                <input type="password" id="input-old-password" class="form-control form-control-alternative" placeholder="Old Password" [(ngModel)]="oldPassword" name="oldPassword">
                </div>
            </div>
            </div>
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-sm btn-primary">Update Password</button>
            </div>
        </div>
    </div>
</form>