<main [attr.theme]="theme">
  <div class="mainbg"></div>
  <app-navbar (toggleTheme)="toggleTheme()" active="search"></app-navbar>
  <div style="padding-top: 100px; height: 100%" class="wrapper">
    <div class="component-border">
      <div class="">
        <div class="ftco-animate fadeInUp ftco-animated">
          <form [formGroup]="searchForm" class="d-md-flex">
            <input
              type="text"
              list="users"
              class="form-control"
              placeholder="Search for Users"
              formControlName="userName"
            />
            <button
              type="button"
              class="search-domain btn btn-primary px-5"
              value="Search"
              (click)="selectUser()"
            >
              Submit
            </button>
            <datalist id="users">
              <option
                *ngFor="let user of users"
                [value]="user.userName"
              ></option>
            </datalist>
          </form>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <div class="container-fluid mt--7" *ngIf="selectedUser.userID">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="component-border">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img
                        class="rounded-circle"
                        *ngIf="selectedUser"
                        [src]="selectedUser?.profileImg"
                        alt=""
                        onerror="this.src='../assets/logo.png'"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <br />
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col"></div>
                </div>
                <br /><br /><br /><br />
                <div class="text-center">
                  <h3>
                    {{ selectedUser?.firstName + " " + selectedUser?.lastName }}
                  </h3>
                  <div class="h5 font-weight-300">
                    {{ selectedUser?.email }}
                  </div>
                  <div *ngIf="selectedUser.userID">
                    <em class="ni education_hat mr-2"></em>@{{
                      selectedUser?.userName
                    }}
                  </div>
                  <app-buttons
                    [users]="users"
                    [selectedUser]="selectedUser"
                    [currentUser]="currentUser"
                    [searchForm]="searchForm"
                    #buttonsComponent
                  ></app-buttons>
                  <hr class="my-4" />
                  <p>{{ selectedUser?.bio }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="component-border">
            <app-feed
              feedTitle="User Posts"
              [profileUser]="selectedUser"
              [notSpecificUser]="true"
            ></app-feed>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
