<app-navbar active="search"></app-navbar>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<div style="padding-top: 100px; height: 100%" class="wrapper">
  <div class="two">
    <br />
    <div class="row justify-content-center padding">
      <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
        <form [formGroup]="searchForm" class="domain-form">
          <div class="form-group d-md-flex">
            <input
              type="text"
              list="users"
              class="form-control px-4"
              placeholder="Search for Users"
              formControlName="userName"
            />
            <input
              type="submit"
              class="search-domain btn btn-primary px-5"
              value="Search"
              (click)="selectUser()"
            />
            <datalist id="users">
              <option
                *ngFor="let user of users"
                [value]="user.userName"
              ></option>
            </datalist>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="three" *ngIf="selectedUser.userID">
    <br /><br /><br /><br /><br /><br />
    <div class="main-content">
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img
                        class="rounded-circle"
                        *ngIf="selectedUser"
                        [src]="selectedUser?.profileImg"
                        alt=""
                        onerror="this.src='../assets/logo.png'"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <br />
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col"></div>
                </div>
                <br /><br /><br /><br />
                <div class="text-center">
                  <h3>
                    {{ selectedUser?.firstName + " " + selectedUser?.lastName }}
                  </h3>
                  <div class="h5 font-weight-300">
                    {{ selectedUser?.email }}
                  </div>

                  <div *ngIf="selectedUser.userID">
                    <i class="ni education_hat mr-2"></i>@{{
                      selectedUser?.userName
                    }}
                  </div>

                  <div *ngIf="isFollowing !== null">
                    <app-unfollow-button
                      *ngIf="isFollowing; else displayFollowButton"
                      [searchedUser]="selectedUser"
                      (click)="toggleFollowing()"
                    ></app-unfollow-button>
                    <ng-template #displayFollowButton>
                      <app-follow-button
                        [searchedUser]="selectedUser"
                        (click)="toggleFollowing()"
                      ></app-follow-button>
                    </ng-template>
                  </div>

                  <hr class="my-4" />
                  <p>{{ selectedUser?.bio }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Posts</h3>
                  </div>
                  <div class="container-fluid gedf-wrapper">
                    <div class="row">
                      <div class="col-md-12 gedf-main">
                        <!--- \\\\\\\Post-->

                        <app-feed
                          [profileUser]="selectedUser"
                          [notSpecificUser]="true"
                        ></app-feed>

                        <!-- Post /////-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
