<main [attr.theme]='theme'>
  <div class = "mainbg">
  </div>
  <app-navbar active="profile"></app-navbar>
  <div class="main-content">
    <div class="container-fluid" style="padding-top: 150px">
      <div class="row">
        <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0">
          <div class="component-border">

            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <img
                      alt=""
                      onerror="this.src='../assets/logo.png'"
                      [src]="profileUser?.profileImg"
                      class="big-rounded-circle"
                    />
                  </div>
                </div>
              </div>
              <br />
              <div class="card-body pt-0 pt-md-4">
                <div class="text-center" style="padding-top: 100px">
                  <h3>
                    {{ profileUser?.firstName + " " + profileUser?.lastName }}
                  </h3>
                  <div>
                    <em class="ni education_hat mr-2"></em>@{{
                      profileUser?.userName
                    }}
                  </div>

                  <p>{{ profileUser?.bio }}</p>

                  <hr class="my-4" />

                  <span class="followers-container">
                    <h6><a routerLink="/follow/followers">Followers</a></h6>
                    <h5>{{ followers?.length }}</h5>
                  </span>
                  <span class="followers-container">
                    <h6><a routerLink="/follow/following">Following</a></h6>
                    <h5>{{ following?.length }}</h5>
                  </span>
                  <hr class="my-4" />
                </div>

                <!---------------------------------- EDIT PROFILE INFO START  ---------------------------------------->

                <ul *ngIf='editable'
                  class="nav nav-tabs card-header-tabs justify-content-center"
                  id="myTab"
                >
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="profile-tab"
                      role="button"
                      data-toggle="collapse"
                      href="#profileSetting"
                      aria-controls="profileSetting"
                      aria-expanded="false"
                      >Edit Account</a
                    >
                  </li>
                </ul>

                <div
                  class="collapse tab-pane fade"
                  id="profileSetting"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <div class="card bg-secondary shadow">
                    <div class="card-body">
                      <app-usergeneralinfo
                        [user]="profileUser"
                      ></app-usergeneralinfo>
                      <app-usernameinfo [user]="profileUser"></app-usernameinfo>
                      <app-userpasswordinfo
                        [user]="profileUser"
                      ></app-userpasswordinfo>
                    </div>
                  </div>

                  <div class="py-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!---------------------------------- EDIT PROFILE INFO END  ---------------------------------------->

        <div class="col-xl-6 order-xl-1">
          <div class="component-border">
            <app-add-post (refreshFeed)="feedComponent.resetPage()"></app-add-post>
          </div>
          <div class=" shadow">
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="posts"
                role="tabpanel"
                aria-labelledby="posts-tab"
              >
              <div class="component-border">
                <app-feed
                  feedTitle="My Posts"
                  #feedComponent
                  [profileUser]="profileUser"
                  [notSpecificUser]="true"
                ></app-feed>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
