<nav class="navbar navbar-light bg-white">
  <a href="#" class="navbar-brand">TimeLine</a>
  <form class="form-inline">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        aria-label="Recipient's userName"
        aria-describedby="button-addon2 "
        (keyup)="filterPosts($event)"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-primary"
          type="button"
          id="button-addon2"
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</nav>

<button (click)="goToTop()" id="topButton" title="Go to top">
  <i class="fa fa-arrow-circle-up"></i>
</button>

<div *ngFor="let post of posts" class="card gedf-card postCard postHolder">
  <app-post
    (refreshNav)="refreshNavbar()"
    (getFollowingPosts)="(getFollowingPosts)"
    (resetPage)="resetPage()"
    [currentUser]="currentUser"
    [post]="post"
  ></app-post>
</div>
