<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div></div>
                        <!-- The following s3 link refers to the project LOGO and NEEDS to be hardcoded as it does not belong to a USER -->
                            <!-- Once we obtain the full S3 link for the application logo we can uncomment and hardcode it below -->
                    <img alt="profile-pic" class="rounded-circle" onerror="this.src='../assets/logo.png'" [src]="loggedInUser?.profileImg">
                    <div class="h5"><a routerLink="">@{{loggedInUser?.userName}}</a></div>
                    <div class="h7 text-muted">{{loggedInUser?.firstName}} {{loggedInUser?.lastName}}</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted"><a routerLink="">Followers</a></div>
                        <div class="h5">{{followers?.length}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted"><a routerLink="">Following</a></div>
                        <div class="h5">{{following?.length}}</div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>