<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <img
          style="cursor: pointer"
          routerLink="/profile/{{ loggedInUser?.userID }}"
          alt="profile-pic"
          class="rounded-circle"
          onerror="this.src='../assets/logo.png'"
          [src]="loggedInUser?.profileImg"
        />
        <div class="h5">
          <a routerLink="/profile/{{ loggedInUser?.userID }}">@{{ loggedInUser?.userName }}</a>

        </div>
        <div class="h7 text-muted">
          {{ loggedInUser?.firstName }} {{ loggedInUser?.lastName }}
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="h6 text-muted">
            <a routerLink="/follow/followers">Followers</a>
          </div>
          <div class="h5">{{ followers?.length }}</div>
        </li>
        <li class="list-group-item">
          <div class="h6 text-muted">
            <a routerLink="/follow/following">Following</a>
          </div>
          <div class="h5">{{ following?.length }}</div>
        </li>
        <li *ngIf="loggedInUser.checkEmail==1" class="list-group-item">
          <div id="message">
            <div style="padding: 5px;">
                <div id="inner-message" class="alert alert-error" (click)="verifyEmail()" style="cursor: pointer;"> 
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Please verify your email
                </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
