body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}
.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

.verify-btn{
    
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

.profil-image {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .rounded-circle {
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
    object-fit: cover;
  }

  #message {
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--tertiary-background);
    border-radius: 50px;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
    display: inline-block;
}
